.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    color: black;
    background-color: white;
    margin-bottom: 10px;

}
.form-signin input[type="password"]
{
    color: black;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 15px;

}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    border-radius: 3px;
     background-color: rgba(0,0,0,.1);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 152px;
    height: 152px;
    margin: 0 auto 10px;
    display: block;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 20px;
}

.no-trasparency{
     background-color: rgba(0,0,0,.4);
}

.btn:hover{
  background-color: rgba(0,0,0,0);
}

.myicon {
    height: 30px;
    width: 30px;
    background: url('');
    display: inline-block;
    vertical-align: middle;
}
.mycontent {
    display: inline-block;
    vertical-align: middle;
}

.border{
    border:1px solid #ddd;
    border-radius: 2px;
    padding: 40px 40px 20px 40px;
    margin: auto;
}

.reduce{
    width: 50%;
    background-color: #f7f7f7;
}


.imgbg{

  background-image: url(../image/_home.png) ;
    /* Background image is centered vertically and horizontally at all times */
  /* background-position: center center; */
  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */

  /* This is what makes the background image rescale based
     on the container's size */

     webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 100%;


}


.userpage{

  background-image: url(../image/userpage.png) ;
    /* Background image is centered vertically and horizontally at all times */
  /* background-position: center center; */
  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */

  /* This is what makes the background image rescale based
     on the container's size */

     webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 100%;


}


@media screen and (min-width: 1200px) {
    .imgbg {
       background-image: url(../image/_home.png) ;
    }
}


@media screen and (min-width: 1600px) {
    .imgbg {
       background-image: url(../image/_home.png) ;
    }
}

html{
  height: 100%;
  font-family: 'Roboto'
}
.navbar-default{
  background-color: #565656;
}

.font{
  font-family:
}

.up{
  margin-top: -50px;
}

.newSize{
      text-align: center;
      margin: 1em 0;
    }

.bottom{
    text-align:center;
.   position:fixed;
    bottom:0px;
    width:100%;
}
